body {
    font-family: 'Lobster', cursive;
    margin: 0px;
}

/* diet sec */
.half-width {
    display: flex;
}

.half-width-2 {
    width: 50%;
    margin-right: 70px;
    margin-left: 41px;
}

.half-width-2 img {
    width: 120%;
}

.common-span {
    color: orange;
}

.common-p {
    margin-top: 50px;
    margin-bottom: 50px;
    color: #828282;
}

.eat-div {
    margin-top: 150px;
    padding-left: 90px;
}

.eat-h1 {
    font-size: 48px;
    letter-spacing: .5px;
    margin-bottom: -30px;
    color: #575757;
}

.link-button {
    font-size: 20px;
    background-image: linear-gradient(orange, #fe4d2f, tomato);
    text-decoration: none;
    margin: 10px;
    padding: 20px 40px;
    color: white;
    border-radius: 50px;
}

.img-div {
    margin-right: 50px;
}

/* about sec */
.about-section {
    margin-top: 80px;
    background-image: url(images/7.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.half-width-3 {
    width: 50%;
    margin-top: 50px;
    margin-left: 50px;
}

.half-width-3 img {
    width: 50%;
    margin-left: 150px;
}

.lorem {
    margin-top: 70px;
    margin-right: 150px;
}

.about-h1 {
    margin-bottom: -20px;
    color: #575757;
    font-size: 30px;
}

/* recipies sec */
.recipie-section {
    margin-bottom: 80px;
}

.recipies {
    text-align: center;
    margin-bottom: 30px;
}

.recipie-2 {
    display: flex;

}

.recipie-h1 {
    color: #575757;
}

.recipie-p {
    color: #828282;
}

.recipie-3 {
    width: 40%;
    margin-left: 82px;
    margin-right: -34px;
    box-shadow: 4px 4px 15px grey;
    text-align: center;
    border-radius: 20px;
}

.recipie-3 img {
    margin-top: 20px;
    width: 90%;
    height: 301px;
}

.title-h2 {
    text-align: left;
    margin-left: 30px;
}

.title-p {
    text-align: left;
    margin-left: 30px;
    color: #828282;
}

/* count-section */
.count-section {
    margin-right: 118px;
    margin-top: 50px;
}

.conut-1 {
    display: flex;
    box-shadow: 3px 4px 14px grey;
    margin-left: 90px;
    border-radius: 12px;
    padding-bottom: 20px;
}

.common-count {
    margin-left: 150px;
    text-align: center;
    padding-top: 20px;
}

.common-count-h1 {
    font-size: 35px;
}

.common-count-p {
    color: #828282;
}

/* fotter */
.footer-section {
    margin-top: 100px;
    background-color: black;
    height: 250px;
}

.span-eat {
    color: orangered;
    margin: 0px 10px;
}

.footer-1 {
    padding-top: 40px;
    text-align: center;
    color: #5d5d5d;
}

.footer-p {
    margin-top: 30px;
    color: #dadbdc;
}