body {
    font-family: 'Lobster', cursive;
}

.half-width {
    display: flex;
}

.half-width-2 {
    width: 50%;
    margin-right: 70px;
    margin-left: 41px;
}

.half-width-2 img {
    width: 120%;
}

.common-span {
    color: orange;
}

.common-p {
    margin-top: 50px;
    margin-bottom: 50px;
    color: #828282;
}

.eat-div {
    margin-top: 150px;
    padding-left: 90px;
}

.eat-h1 {
    font-size: 48px;
    letter-spacing: .5px;
    margin-bottom: -30px;
    color: #575757;
}

.link-button {
    font-size: 20px;
    background-image: linear-gradient(orange, #fe4d2f, tomato);
    text-decoration: none;
    margin: 10px;
    padding: 20px 40px;
    color: white;
    border-radius: 50px;
}

.img-div {
    margin-right: 50px;
}